* {
    margin: 0;
    padding: 0;
}
body,
html,
#app {
    width: 100%;
    height: auto;
    min-width: 1080px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #040f3c;
}
/* 清除浮动的公共类 */
.clearfix:before,
.clearfix:after { 
	content:"";
  display:table;
  
}
.clearfix:after {
	clear:both;
}
/* 为了兼容IE6,7 */
.clearfix {
	*zoom:1;
}
blockquote, body, button, dd, dl, dt, fieldset,
form, h1, h2, h3, h4, h5, h6, hr, input, legend,
li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}
.el-tabs--border-card {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
input, button {
    border: 0;
    outline: none; /*取消轮廓边框*/
}

ul {
    list-style: none; /*清除ul前面的原点*/
}

a {
    text-decoration: none; /*取消a标签的下划线*/
    color: #999;
    font-size: 12px;
}
/* ------------------------------------------------------ */
.abnormalView .el-form-item__label {
    font-size: 16px;
    color: white;
    letter-spacing: 5px;
    padding: 0px;
}
.abnormalView .seachF1 {
    width: 38%;
    float: left;
}
.abnormalView .seachF1 .searchCriteria {
    width: 85%;
    float: left;
    background-color: #1d4b7f;
    margin-bottom: 10px;
    padding-left: 5px;
    box-sizing: border-box;
}
.abnormalView .seachF1 .searchCriteria .el-input__inner {
    width: 442px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #3279a9;
    background-color: #1d4b7f;
  }
  .abnormalView .seachF1 .searchImg{
    width: 15%;
    height: 40px;
    padding-top: 4px;
    float: left;
    background-color: #1d4b7f;
    margin-bottom: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 10px;

  }
  /* --------------------- */

.abnormalView .el-input__inner {
    color: white;
}
.abnormalView .userInfoAll .el-select .el-input .el-select__caret {
    display: none;
}
.abnormalView .userInfoAll .el-input__inner {
    height: 30px;
    line-height: 30px;
    border: 1px solid #3279a9;
    background-color: #0d4274
  }
.abnormalView .userInfoAll .userInfo {
    width: 16%;
    float: left;
    background-color: #1d4b7f;
    padding-left: 5px;
    box-sizing: border-box;
}

.abnormalView .userInfoAll .userInfoCompany {
    width: 28%;
    float: left;
    background-color: #1d4b7f;
}
.abnormalView .userInfoAll .userInfoCompany .el-input__inner {
    width: 110px;
}
.abnormalView .userInfoAll .userInfoDep {
    width: 28%;
    float: left;
    background-color: #1d4b7f;
}
.abnormalView .userInfoAll .userInfoDep .el-input__inner {
    width: 110px;
}
.abnormalView .userInfoAll .userChange {
    width: 28%;
    float: left;
    background-color: #1d4b7f;
}
.abnormalView .userInfoAll .userChange .el-input__inner {
    width: 110px;
}

.abnormalView .seachF2 {
    width: 43%;
    float: left;
}
.abnormalView .seachF2 .el-input__inner {
    color: white;
}
.abnormalView .seachF2 .seachStarTime {
    width: 50%;
    float: left;
    background-color: #1d4b7f;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  .abnormalView .seachF2 .seachStarTime .el-input__suffix {
      padding-right: 26px;
  }
  .abnormalView .seachF2 .seachStarTime .el-input__inner {
    height: 30px;
    width: 205px;
    line-height: 30px;
    border: 1px solid #3279a9;
    background-color: #1d4b7f;
  }
  .abnormalView .seachF2 .seachStarTime .el-date-editor.el-input {
      width: 220px;
  }
  .abnormalView .seachF2 .seachEndTime {
    float: left;
    width: 50%;
    background-color: #1d4b7f;
    margin-bottom: 10px;
  }
  .abnormalView .seachF2 .seachEndTime .el-input__suffix {
    padding-right: 22px;
}
  .abnormalView .seachF2 .seachEndTime .el-date-editor.el-input {
      width: 216px !important;
  }
  .abnormalView .seachF2 .seachEndTime .el-input__inner {
    height: 30px;
    width: 205px;
    line-height: 30px;
    border: 1px solid #3279a9;
    background-color: #1d4b7f;
  }
  .abnormalView .seachF2 .seachEndTime .el-date-editor.el-input {
    width: 220px;
}

.abnormalView .seachF2 .userInfoAll .infoHost {
    width: 16%;
    float: left;
    background-color: #1d4b7f;
}
.abnormalView .seachF2 .userInfoAll .infoHostCompany {
    width: 28%;
    float: left;
    background-color: #1d4b7f;
}
.abnormalView .seachF2 .userInfoAll .infoHostCompany .el-input__inner {
    width: 120px;
}
.abnormalView .seachF2 .userInfoAll .infoHostDep {
    width: 28%;
    float: left;
    background-color: #1d4b7f;
    
}
.abnormalView .seachF2 .userInfoAll .infoHostDep .el-input__inner {
    width: 120px;
}
.abnormalView .seachF2 .userInfoAll .infoHostName {
    width: 28%;
    float: left;
    background-color: #1d4b7f;
    
}
.abnormalView .seachF2 .userInfoAll .infoHostName .el-input__inner {
    width: 120px;
}

.abnormalView .seachF3 {
    width: 14%;
    padding: 5px 10px 0 10px;
    float: left;
    background-color: #1d4b7f;
    box-sizing: border-box;
}
/* 滑动按钮 */
.abnormalView .changeButton {
    float: right;
    width: 205px;
    height: 30px;
    border: 1px solid #3279a9;
    border-radius: 60px;
    
}
.abnormalView .changeButton .allButton {
    width: 50%;
    float: left;
    font-size: 14px;
    color: #3279a9;
    height: 30px;
    line-height: 30px;
    box-sizing: border-box;
    text-align: center;
}
.abnormalView .changeButton .abnormalButton {
    width: 50%;
    float: left;
    font-size: 14px;
    color: #3279a9;
    height: 30px;
    line-height: 30px;
    box-sizing: border-box;
    text-align: center;
}
.textColor {
    background-color: #3a81d6;
    color: white !important;
    border-radius: 30px;
}
.seachF3 .acrossDepView {
    margin-top: 40px;
    /* margin-left: 20px; */
}
.seachF3 .acrossDepView  .el-switch__label--left {
    position: absolute;
    display: block;
    width: 100px;
    left: 50px;
}
.seachF3 .acrossDepView .el-switch__label {
    color: white;
}
.seachF3 .acrossDepView .el-switch.is-checked .el-switch__core::after {
    margin-left: -9px;
    margin-top: -2px;
}
.seachF3 .acrossDepView .el-switch__core {
    height: 10px;
}
.seachF3 .acrossDepView .el-switch__core:after {
    content: "";
    position: absolute;
    border-radius: 100%;
    -webkit-transition: all .3s;
    transition: all .3s;
    width: 10px;
    height: 10px;
    margin-top: -1px;
    background-color: #FFF;
    margin-top: -2px;
    margin-left: 0px;
}
/* ----------------------------- */
.seachF3 .confDocumentsView {
    /* margin-left: 20px; */
}
.seachF3 .confDocumentsView .el-switch__label {
    color: white;
    position: absolute;
    display: block;
    width: 120px;
    left: 50px;
}
.seachF3 .confDocumentsView .el-switch.is-checked .el-switch__core::after {
    margin-left: -9px;
    margin-top: -2px;
}
.seachF3 .confDocumentsView .el-switch__core {
    height: 10px;
}
.seachF3 .confDocumentsView .el-switch__core:after {
    content: "";
    position: absolute;
    border-radius: 100%;
    -webkit-transition: all .3s;
    transition: all .3s;
    width: 10px;
    height: 10px;
    margin-top: -1px;
    background-color: #FFF;
    margin-top: -2px;
    margin-left: 0px;
}
.seachF3 .confDocumentsView {}
.abnormalView .seachF4 {
    float: right;
    height: 90px;
    /* margin-right: 20px; */
}
.abnormalView .seachF4 {
    width: 5%;
    text-align: right;
}
.abnormalView .seachF4 .seachBtn {
    margin-top: 50px;
}
.abnormalView .seachAllSum {
    height: 110px;
    padding-top: 10px;
    box-sizing: border-box;
}
/* 分页样式 */
.abnormalView .paging .el-input__inner {
    background-color: blue;
    width: 120px;
    border: 1px solid #00639e;
    background-color: #083760;
    color: white;
}
.abnormalView .paging .el-select .el-input__inner {
    margin-top: 0px;
}
.abnormalView .paging .el-pagination{
    text-align: right;
    margin-top: 10px;
}
.abnormalLogin .el-pagination{
    padding: 0px;
}
.el-input__inner {
    -webkit-transition: border-color 0s cubic-bezier(.645,.045,.355,1);
    transition: border-color 0s cubic-bezier(.645,.045,.355,1);
}

.abnormalView .el-table::before {
    border: 0px;
    background-color: #00639e;
    
}
.abnormalView .el-form--inline .el-form-item {
    margin-right: 0px;
}
.abnormalView .el-input--suffix .el-input__inner {
    padding-right: 0px;
}