/* 清除浮动的公共类 */
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* 为了兼容IE6,7 */
.clearfix {
    *zoom: 1;
}

.kpiRank .el-tabs__content {
    /* overflow: inherit; */
}
.kpiRank table {
    width: auto !important;
  }
/* KPI顶部样式 */
/* 点击天周月改变背景色 */
.kpiRank .el-tabs__item.is-active {
    background-color: #596c7e;
}

/* kpi上下边框颜色 */
.kpiRank .el-tabs--card>.el-tabs__header .el-tabs__nav {
    border: 1px solid #3279a9;
}

/* kpi左右边框颜色 */
.kpiRank .el-tabs--card>.el-tabs__header .el-tabs__item {
    border-left: 1px solid #3279a9;
}

/* kpi点击底边框为零 */
.kpiRank .el-tabs--card>.el-tabs__header .el-tabs__item {
    border-bottom: 0px;
}

/* kpi默认颜色 */
.kpiRank .el-tabs__item {
    color: white;
}

/* kpi点击后颜色 */
.kpiRank #tab-seven {
    color: white;
}

/* 表单下边距清零 */
.kpiRank .el-form-item {
    margin-bottom: 0px;
}

/* 每个kpi长度 */
.kpiRank .el-tabs--card>.el-tabs__header .el-tabs__item {
    width: 120px;
    text-align: center;
}

/* KPI排名下面的大框 */
/* .kpiRank .el-tabs__content {
    border-radius: 5px;
    border: 1px solid #2f69a0;
} */

/* 日期边框样式 */
.kpiRank .el-input {
    border: 1px solid #00639e;
    border-radius: 5px;
    /* height: 30px; */
    line-height: 30px;
}

.kpiRank .el-input__icon {
    line-height: 30px;
}

/* 日期边框长度 */
.kpiRank .el-date-editor.el-input,
.el-date-editor.el-input__inner {
    width: 200px;
}

/* 查询时间的背景色，字体颜色 */
.kpiRank .el-input__inner {
    background-color: #083760;
    color: white;
}

/* 开始时间、结束时间字体颜色 */
.kpiRank .el-form-item__label {
    color: white;
    font-size: 16px;
    text-align: right;
    vertical-align: middle;
    float: left;
    padding-right: 0px;
    margin-right: 5px;
}

/* 时间前面的ico图标颜色 */
.kpiRank .el-input__prefix {
    color: #00cbd5;
}

/* 日期边框样式 */
.kpiRank input {
    border: none !important;
    outline: none;
    cursor: pointer;
}

/* ------------------------------------------------- */
.kpiRank .el-table td,
.el-table th.is-leaf {
    border: 0px;
}

/* 公司kpl样式 */
.kpiRank .company {
    width: 100%;
    height: 470px;
    border: 1px solid #2f69a0;
    border-radius: 5px;
    margin-bottom: 30px;
    margin-top: 10px;
    padding: 0 10px;
    box-sizing: border-box;
}

/* 标题 */
.kpiRank .company .one {
    color: white;
    font-size: 28px;
    text-align: center;
    margin-top: 10px;
}

/* 时间 */
.kpiRank .company .two {
    color: white;
    font-size: 12px;
    text-align: center;
}

/* 开始时间 */
.kpiRank .company .startTime {
    float: right;
    /* 设置文字间距 */
    letter-spacing: 5px;
}

/* 结束时间 */
.kpiRank .company .endTime {
    float: right;
    /* 设置文字间距 */
    letter-spacing: 5px;
}

.kpiRank .three {
    height: 40px;
}








.kpiRank .company .seach {
    float: right;
}

/* --------------------------------- */

.kpiRank .four {
    /* width: 100%;
    height: 320px; */
    /* overflow: hidden; */
    /* clear:both */
    /* display: inline-block; */
}
.kpiRank .el-tabs__content {
    /* overflow: inherit; */
}
 .el-tabs__content {
    overflow: unset;
    position: relative;
}
.kpiRank .four .four_left {
    width: 19%;
    height: 100%;
    border: 1px solid #2f69a0;
    float: left;
    box-sizing: border-box;
}

.kpiRank .four .four_right {
    width: 80%;
    height: 100%;
    /* border: 1px solid rgb(241, 17, 211); */
    float: right;
    box-sizing: border-box;
}

.kpiRank .four .four_right .right_1 {
    width: 33.333%;
    height: 100%;
    border: 1px solid #2f69a0;
    float: left;
    box-sizing: border-box;
}

/* 公司KPI贡献样式 */
.kpiRank .fll {
    float: left;
    width: 25%;
    background: #1d4b7f;
    ;
    border-radius: 3px;
    border: 1px solid #2f69a0;
    min-height: 320px;
    margin: 0 10px;

}

.kpiRank .title {
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: white;
    font-size: 20px;
    text-align: center;
}

.kpiRank .menu {
    width: 100%;
    text-align: center;
}

.kpiRank .menu .dior {
    float: left;
    width: 33.33%;
    text-align: center;
}

.kpiRank .el-radio {
    color: #cccccc;
}

.kpiRank .el-radio__input.is-checked+.el-radio__label {
    color: #cccccc;
    font-size: 14px;
}

.kpiRank .el-radio__inner {
    background-color: #cccccc;
    width: 12px;
    height: 12px;
}


.kpiRank .four_right .title {
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: white;
    font-size: 20px;
    text-align: center;
}

.kpiRank .el-row {
    /* margin-bottom: 20px; */

}

.kpiRank .el-col {
    border-radius: 4px;
}

.kpiRank .bg-purple-dark {
    background: #99a9bf;
}

.kpiRank .bg-purple {
    background: #1d4b7f;
}

.kpiRank .bg-purple-light {
    background: #e5e9f2;
}

.kpiRank .grid-content {
    border-radius: 3px;
    border: 1px solid #2f69a0;
    /* min-height: 320px; */
    height: 340px;
    position: relative;
}

.kpiRank .emp .grid-content {
    border-radius: 3px;
    border: 1px solid #2f69a0;
    /* min-height: 320px; */
    height: 380px;
}

.kpiRank .row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
}

.kpiRank .el-col-6 {
    padding-left: 0px;
    padding-right: 0px;
    width: 26.2%;
}

.kpiRank .el-col-5 {
    padding-left: 20px !important;
    padding-right: 10px;
}

.kpiRank #card1 {
    height: 290px;
    top: -40px !important;
    border: 0px;
    background-color: #1d4b7f;
}

.kpiRank #main1 {
    position: initial !important;
}

.kpiRank .menu2 {
    width: 45%;
    text-align: center;
    background-color: #345d8c;
    height: 30px;
    line-height: 27px;
    margin: 10px;
    margin-left: 28%;
}

.kpiRank .menu2 .dior {
    float: left;
    width: 50%;
    text-align: center;
}

.kpiRank .el-radio__label {
    margin-right: 5px;
}

/* 表格表头 */
.kpiRank .tabTile {
    width: 100%;
    height: 20px;
    line-height: 20px;
    color: #ccc;
}

.kpiRank .tabTile ul li {
    display: block;
    width: 100%;
}

.kpiRank .tabTile ul .li1 {
    width: 20%;
    text-align: center;
    display: block;
    float: left;
}

.kpiRank .tabTile ul .li2 {

    text-align: center;
    display: block;
    width: 20%;
    float: left;
}

.kpiRank .tabTile ul .li3 {

    text-align: center;
    display: block;
    float: left;
    width: 20%;
}

/* 去除1px的白边 */
.kpiRank .el-table,
.el-table__expanded-cell {
    background-color: #1d4b7f;
}

/* 最近事件高度 */
#recentEvents {
    height: 200px;
    overflow: hidden;
}

.kpiRank .tableBox th {
    padding: 0 !important;
    height: 30px;
    line-height: 30px;
    border: 0px;
}

.kpiRank .tableBox td {
    /* padding: 0 !important;
    height: 40px;
    line-height: 40px;
    border: 0px; */

}

.kpiRank .el-table th {
    background-color: #1d4b7f;
}
.kpiRank .el-table tr {
    background-color: #1d4b7f;
}

.kpiRank .el-table td,
.el-table th.is-leaf {
    border: 0px;
}

.kpiRank .el-table th>.cell,
.el-table .cell,
.el-progress__text {
    color: #ccc;
    padding-left: 0px;
    padding-right: 0px;
}
.kpiRank .el-table .cell {
    padding-right: 0px;
}
/* 横向柱状图取消底部边框 */
.kpiRank .el-table--border,
.el-table:before {
    border: 0px;
}


/* 鼠标经过表格显示背景色 */
.kpiRank .el-table tbody tr:hover>td {
    background-color: #1d4b7f;
}

/* 删除表格下横线 */
.el-table::before {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0px;
}

/* 进度条总长度样式 */
.kpiRank .el-progress-bar__outer {
    /* height: 20px !important;
    border-radius: 0px; */
    background-color: #1d4b7f;
    /* height: 20px !important; */
    border-radius: 0px;
    width: 180px;
}
.kpiRank .comLang .el-progress-bar__outer {
    /* height: 20px !important;
    border-radius: 0px; */
    background-color: #1d4b7f;
    /* height: 20px !important; */
    border-radius: 0px;
    width: 140px;
}
.el-progress-bar__inner {
    border-radius: 0px;
    float: left;
}

.kpiRank .beiJinNum {
    position: absolute;
    top: 10px;
    right: -1px;
}

.kpiRank .sequentialImg {
    margin-top: 5px;
    margin-left: -55px;
}
.kpiRank .ComImg {
    margin-top: 5px;
    margin-left: -50px;
}

.kpiRank .sequentialNum {
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 12px;
}

.kpiRank .sequentialNumRed {
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 12px;
    color: red;
}

.el-progress__text {
    font-size: 12px !important;
}

/* 
.el-progress-bar__inner1 {
    background-color: #f810d9;
}
.el-progress-bar__inner2 {
    background-color: #e78b57;
}
.el-progress-bar__inner3 {
    background-color: #dede66;
}
.el-progress-bar__inner4 {
    background-color: #84c9c9;
}
.progress{
    width: 168px;
    height: 20px;
    color:#f00;
    background:#EFEFF4;
    border-radius: 0.1rem;
}
.progress2{
    width: 168px;
    height: 20px;
    color:#f00;
    background:rgb(173, 9, 173);
    border-radius: 0.1rem;
}
.progress3{
    width: 168px;
    height: 20px;
    color:#f00;
    background:rgb(23, 23, 204);
    border-radius: 0.1rem;
}
.progress4{
    width: 168px;
    height: 20px;
    color:#f00;
    background:rgb(76, 238, 12);
    border-radius: 0.1rem;
} */
/* 表示总长度背景色 */
.progress::-webkit-progress-bar {
    background-color: #f2f2f2;
    border-radius: 0.2rem;
}

/* 表示已完成进度背景色 */
.progress::-webkit-progress-value {
    background: #a21211;
    border-radius: 0.2rem;
}

/* ---------------------------------------------- */
/* 部门kpl样式 */
.kpiRank .department {
    width: 100%;
    height: 470px;
    border: 1px solid #2f69a0;
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 0 10px;
    box-sizing: border-box;
}

/* 标题 */
.kpiRank .department .one {
    color: white;
    font-size: 28px;
    text-align: center;
    margin-top: 10px;
}

/* 时间 */
.kpiRank .department .two {
    color: white;
    font-size: 12px;
    text-align: center;
}

/* 开始时间 */
.kpiRank .department .startTime {
    float: right;
    /* 设置文字间距 */
    letter-spacing: 5px;
    margin-right: 10px;
}

/* 结束时间 */
.kpiRank .department .endTime {
    float: right;
    /* 设置文字间距 */
    letter-spacing: 5px;
}

/* 查询按钮 */
.kpiRank .department .seach {
    float: right;
}

/* 公司下拉菜单 */
.kpiRank .department .dropDownCompany {
    left: 15px;
    position: absolute;
}

.kpiRank .department .dropDownSeach {
    float: right;
}

.kpiRank #card2 {
    height: 290px;
    top: -40px !important;
}

.kpiRank #card4 {
    height: 470px;
    /* top: -40px !important; */
}

.kpiRank #main2 {
    position: initial !important;
}

/* ------------------------------------------------------ */
/* 员工kpl样式 */

.kpiRank .employees {
    width: 100%;
    height: 510px;
    border: 1px solid #2f69a0;
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 0 10px;
    box-sizing: border-box;
}

/* 标题 */
.kpiRank .employees .one {
    color: white;
    font-size: 28px;
    text-align: center;
    margin-top: 10px;
}

/* 时间 */
.kpiRank .employees .two {
    color: white;
    font-size: 12px;
    text-align: center;
}

/* 开始时间 */
.kpiRank .employees .startTime {
    float: right;
    /* 设置文字间距 */
    letter-spacing: 5px;
}

/* 结束时间 */
.kpiRank .employees .endTime {
    float: right;
    /* 设置文字间距 */
    letter-spacing: 5px;
}

/* 查询按钮 */
.kpiRank .employees .seach {
    float: right;
}

/* 公司下拉菜单 */
.kpiRank .employees .dropDownCompany {
    left: 15px;
    position: absolute;
}

.kpiRank .employees .dropDownSeach {
    float: right;
}

.kpiRank #card3 {
    height: 340px;
    top: -40px !important;
}

.kpiRank #main3 {
    position: initial !important;
}
.kpiRank #main3-2 {
    position: initial !important;
    background-color: red;
}
.kpiRank #main3-3 {
    position: initial !important;
    background-color: sandybrown;
}
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* KPI趋势分析样式 */
/* 公司kpl样式 */

/* 开始时间 */
/* 集团KPI样式 */
.kpiRank .groupKPI {
    height: 536px;
    border: 1px solid #2f69a0;
    border-radius: 5px;
    margin-bottom: 30px;
    box-sizing: border-box;
}

.kpiRank .groupKPI .seachSum {
    height: 45px;
    line-height: 45px;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* 搜索按钮 */
.kpiRank .groupKPI .seach {
    float: right;
}

/* 开始时间 */
.kpiRank .groupKPI .startTime {
    float: right;
    /* 设置文字间距 */
    letter-spacing: 5px;
    margin-right: 10px;
}

/* 结束时间 */
.kpiRank .groupKPI .endTime {
    float: right;
    /* 设置文字间距 */
    letter-spacing: 5px;
    margin-right: 10px;
}

/* 折线图部分 */
.kpiRank .trend {
    width: 100%;
    height: 470px;
    border: 1px solid #2f69a0;
    border-radius: 5px;
    /* margin-bottom: 30px; */
    padding: 0 10px;
    box-sizing: border-box;
}

#ttt {
    width: 100%;
    height: 470px;
}

.kpiRank .el-input--suffix .el-input__inner {
    padding-right: 20px;
}

.el-input__inner {
    -webkit-transition: border-color 0s cubic-bezier(.645, .045, .355, 1);
    transition: border-color 0s cubic-bezier(.645, .045, .355, 1);
}



/* 查询按钮 */
/* 公共样式 */
/* 查询按钮长度 */
/* 搜索按钮 */
.kpiRank .el-button--primary {
    height: 30px;
}

.kpiRank .el-button {
    padding: 8px 20px;
    text-align: center;
}

/* 所有搜索框的高度 */
.kpiRank .el-input__inner {
    height: 30px;
    line-height: 30px;
    border: 1px solid #00639e;
    box-sizing: border-box;
    background-color: #083760;
    color: white;
}

/* 搜索框内边框 */
.kpiRank .el-input--suffix .el-input__inner {
    padding-right: 0px;
}

.kpiRank .el-form--inline .el-form-item {
    margin-right: 0px;
}

/* 公司第三行搜索 */
.kpiRank .company .three {
    height: 40px;
    line-height: 40px;
    margin-bottom: 10px;
}

/* 开始时间 */
.kpiRank .company .three .startTime {
    float: right;
    margin-left: 10px;
    letter-spacing: 3px;
}

/* 结束时间 */
.kpiRank .company .three .endTime {
    float: right;
    margin-left: 10px;
    letter-spacing: 3px;
}

/* 搜索按钮 */
.kpiRank .company .three .seach {
    float: right;
    margin-left: 10px;
}

/* ------------------------------------- */
/* 部门第三行搜索 */
.kpiRank .department .three {
    height: 40px;
    line-height: 40px;
    margin-bottom: 10px;
}

/* 开始时间 */
.kpiRank .department .three .startTime {
    float: right;
    margin-left: 10px;
    letter-spacing: 3px;
}

/* 结束时间 */
.kpiRank .department .three .endTime {
    float: right;
    letter-spacing: 3px;
}

/* 搜索按钮 */
.kpiRank .department .three .seach {
    float: right;
    margin-left: 10px;
}

/* ------------------------------------- */
/* 员工第三行搜索 */
.kpiRank .employees .three {
    height: 40px;
    line-height: 40px;
    margin-bottom: 10px;
}

/* 开始时间 */
.kpiRank .employees .three .startTime {
    float: right;
    margin-left: 10px;
    letter-spacing: 3px;
}

/* 结束时间 */
.kpiRank .employees .three .endTime {
    float: right;
    margin-left: 10px;
    letter-spacing: 3px;
}

/* 搜索按钮 */
.kpiRank .employees .three .seach {
    float: right;
    margin-left: 10px;
}
/* 分页样式 */
.kpiRank .pagFen {
    float: right;
    z-index: 2;
    position: absolute;
    right: 0px;
    bottom: 3px;
    z-index: 2;
}

.kpiRank .pagFen.el-pagination span:not([class*=suffix]),
.el-pagination button, .el-pagination span:not([class*=suffix]),
.el-pager li {
    height: 22px;
    line-height: 22px;
}
.kpiRank .el-pagination button:disabled {
    background-color: #1d4b7f;
}
.kpiRank .el-pager li, .el-pagination .btn-prev, .el-pagination .btn-next {
    background-color: #1d4b7f;
}
.kpiRank .el-pagination .btn-next {
    background-color: #1d4b7f;
}
/* 暂无数据显示样式 */
.kpiRank .el-table__empty-block {
    width: 100% !important;
}
/* .kpiRank .el-select {
    overflow: hidden;
} */
.kpiRank .el-tag.el-tag--info {
    background: #083760;
    color: white;
    border: 0px;
    position: absolute;
}
.kpiRank .el-select {
    overflow: hidden !important;
    margin-top: 3px;
    padding-right: 5px;
}