/* 公共样 */
* {
    margin: 0;
    padding: 0;
}
body,
html,
#app {
    width: 100%;
    height: auto;
    min-width: 1080px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #040f3c;
}
/* 清除浮动的公共类 */
.clearfix:before,
.clearfix:after { 
	content:"";
	display:table;
}
.clearfix:after {
	clear:both;
}
/* 为了兼容IE6,7 */
.clearfix {
	*zoom:1;
}
blockquote, body, button, dd, dl, dt, fieldset,
form, h1, h2, h3, h4, h5, h6, hr, input, legend,
li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}

input, button {
    border: 0;
    outline: none; /*取消轮廓边框*/
}

ul {
    list-style: none; /*清除ul前面的原点*/
}

a {
    text-decoration: none; /*取消a标签的下划线*/
    color: #999;
    font-size: 12px;
}

.kpiDetailsQuery .el-radio {
    color: white;
}
.kpiDetailsQuery .el-radio__input.is-checked+.el-radio__label {
    color: white;
}

/* 下拉框样式 */
.kpiDetailsQuery .el-form-item__label {
    color: white;
}
.kpiDetailsQuery .el-select .el-input__inner {
    border: 1px solid #00639e;
    border-radius: 5px;
    margin-top: 5px;
    height: 30px;
    line-height: 30px;
}
.kpiDetailsQuery .el-input__inner {
    background-color: #083760;
    color: white;
}
.kpiDetailsQuery .el-col-10 {
    width: 38.86667%;
    background-color: #1c4a7f;
    padding-left: 5px;
    height: 40px;
    line-height: 40px;
}
/* 开始时间、结束时间样式 */
.kpiDetailsQuery .el-form-item {
    margin-bottom: 0px;
}
.kpiDetailsQuery .starTime {
    margin-left: 20px;
    width: 15%;
    padding-left: 1%;
    float: right;
   
}
.kpiDetailsQuery .entTime {
    width: 15%;
    float: right;
    padding-left: 1%;
}
.kpiDetailsQuery .el-date-editor.el-input, .el-date-editor.el-input__inner {
    width: 140px;
}
.kpiDetailsQuery .el-input__inner {
    border: 1px solid #00639e;
    height: 30px;
    line-height: 30px;
}
/* 查询按钮样式 */
.kpiDetailsQuery .el-col-2 {
    width: 4.33333%;
}
.kpiDetailsQuery .el-button {
    height: 30px;
    line-height: 6px;
}
.kpiDetailsQuery .el-form-item__label {
    font-size: 16px;
    margin-right: 5px;
    
}
.kpiDetailsQuery .seach {
    float: right;
}
/* 表格样式 */
.kpiDetailsQuery .el-table td,.building-top .el-table th.is-leaf {
    border-bottom:  1px solid #ccc;
}
.kpiDetailsQuery .el-table td, .building-top .el-table th.is-leaf {
    border-bottom: 1px solid #316aa1;
}
.kpiDetailsQuery .el-table--border td {
    border-right: 1px solid #316aa1;
}

.kpiDetailsQuery .footerSum {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
}
/* 取消按钮 */
.kpiDetailsQuery .footerSum .cancelButton {
    height: 40px;
    line-height: 40px;
    margin-right: 10px;
    float: left;
}
  /* 显示行数 */
.kpiDetailsQuery .footerSum .showNum {
    height: 40px;
    line-height: 40px;
    margin-right: 10px;
    color: white;
    float: left;
}
/* 搜索条件 */
.kpiDetailsQuery .footerSum .seachCond {
    /* width: 100px; */
    height: 40px;
    line-height: 40px;
    margin-right: 10px;
    float: left;
}
/* 分页 */
.kpiDetailsQuery .footerSum .pag {
    height: 40px;
    line-height: 40px;
    float: right;
}
.kpiDetailsQuery .footerSum .pag .el-pagination button, .el-pagination span:not([class*=suffix]),
.el-pagination button, .el-pagination span:not([class*=suffix]),
.el-pager li {
    height: 40px;
    line-height: 40px;
}
.kpiDetailsQuery .el-pagination {
    padding: 0px;
}
/* 表格下面的功能按钮 */
.kpiDetailsQuery .functionBox {
    margin-top: 10px
}

/* 取消全选样式 */
.kpiDetailsQuery .span61 {
    width: 4%;
}
/* 选中样式 */
.kpiDetailsQuery .span62 {
    width: 9%;
    height: 30px;
    line-height: 30px;
    color: white;
    margin-left: -7px;
}
/* // "dev": "vue-cli-service serve --mode dev", */
/* 搜索条件样式 */
.kpiDetailsQuery .span63 {
    width: 50%;
    margin-top: -5px;
    /* height: 30px;
    line-height: 30px; */
    /* font-size: 16px; */
}
.kpiDetailsQuery .span63 .el-form-item__label {
    font-size: 16px;
}
.kpiDetailsQuery .span63 .el-input__inner {
    width: 150px !important;
    /* margin-top: 0px;
    height: 35px;
    line-height: 35px; */
}
/* 分页样式 */
.kpiDetailsQuery .span64 {
    width: 37.2%;
    float: right;
}
.kpiDetailsQuery .span64 .el-select .el-input__inner {
    margin-top: 0px;
}
.kpiDetailsQuery .span64 .el-pagination{
    text-align: right;
}
/* 表格高度40px */
.kpiDetailsQuery .el-table__header tr,
  .el-table__header th {
    padding: 0;
    height: 40px;
}
.kpiDetailsQuery .el-table__body tr,
  .el-table__body td {
    padding: 0;
    height: 40px;
}
/* 表格高亮过渡效果 */
.kpiDetailsQuery .el-table--enable-row-transition .el-table__body td {
    -webkit-transition: background-color 0s ease;
    transition: background-color 0s ease;
}
/* 多选框过渡效果 */
.kpiDetailsQuery .el-checkbox__inner {
    -webkit-transition: 0s cubic-bezier(.71,-.46,.29,1.46),background-color 0s cubic-bezier(.71,-.46,.29,1.46);
    transition: 0s cubic-bezier(.71,-.46,.29,1.46),background-color 0s cubic-bezier(.71,-.46,.29,1.46);
}
.kpiDetailsQuery .el-checkbox__inner::after {
    transition: transform 0s ease-in 0s,-webkit-transform 0s ease-in 0s;
}
/* .el-checkbox__inner */
.kpiDetailsQuery .el-col-3 {
    width: 15.5%;
}
.kpiDetailsQuery .el-input--suffix .el-input__inner,.el-select .el-input__inner {
    padding-right: 0px;
}
/* 取消全选按钮 */
.kpiDetailsQuery .cancelAll .el-button {
    padding: 12px 10px;
    height: 20px;
    line-height: 0px;
}
/* 过渡效果为0 */
.el-input__inner {
    -webkit-transition: border-color 0s cubic-bezier(.645,.045,.355,1);
    transition: border-color 0s cubic-bezier(.645,.045,.355,1);
}
.el-table--border, .el-table--group {
    /* border-color: #2f69a0; */
}
.kpiDetailsQuery .seachSum .bumen {
    margin: 0 15px 0 10px;
}
.kpiDetailsQuery .seachSum .el-form-item__label {
    padding: 0 8px 0 0;
}
/* ----------------------------------------------------- */
.kpiDetailsQuery .el-form--inline .el-form-item {
    margin-right: 0px;
}
.kpiDetailsQuery .el-form-item__label {
    padding: 0px;
}
/* 重新来过 */
.kpiDetailsQuery .seachAll {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    line-height: 40px;
}
/* 三个单选按钮 */
.kpiDetailsQuery .seachAll .threeRadio {
    float: left;
    height: 40px;
    padding-left: 10px;
    box-sizing: border-box;
    background-color: #1c4a7f;
    margin-right: 10px;
}
.kpiDetailsQuery .seachAll .threeRadio .el-radio {
    margin-right: 15px;
}
.kpiDetailsQuery .seachAll .threeRadio .personal {
    margin-right: 10px;
}
/* 用户信息 */
.kpiDetailsQuery .seachAll .userInfo {
    float: left;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    background-color: #1c4a7f;
}
/* 公司选择 */
.kpiDetailsQuery .seachAll .comChange {
    float: left;
    height: 40px;
    background-color: #1c4a7f;
}
.kpiDetailsQuery .seachAll .comChange .el-form-item__label{
    margin-right: 5px;
}
/* 部门选择 */
.kpiDetailsQuery .seachAll .depChange {
    float: left;
    height: 40px;
    padding-right: 10px;
    box-sizing: border-box;
    color: white;
    background-color: #1c4a7f;
}
.kpiDetailsQuery .seachAll .depChange .el-form-item__label{
    margin-right: 5px;
    margin-left: 20px;
}
/* 用户选择 */
.kpiDetailsQuery .seachAll .userChange {
    float: left;
    height: 40px;
    padding-right: 30px;
    box-sizing: border-box;
    color: white;
    background-color: #1c4a7f;
    margin-right: 10px;
}
.kpiDetailsQuery .seachAll .userChange .el-form-item__label{
    margin-right: 5px;
    margin-left: 15px;
}
/* 开始时间 */
.kpiDetailsQuery .seachAll .startTime {
    float: right;
    height: 40px;
    margin-right: 10px;
    letter-spacing: 3px;
}
.kpiDetailsQuery .seachAll .startTime .el-form-item__label {
    margin-right: 5px;
}
/* 结束时间 */ 
.kpiDetailsQuery .seachAll .endTime {
    float: right;
    height: 40px;
    margin-right: 10px;
    letter-spacing: 3px;
}
.kpiDetailsQuery .seachAll .endTime .el-form-item__label {
    margin-right: 5px;
}
/* 查询按钮 */
.kpiDetailsQuery .seachAll .seachButton {
    float: right;
    height: 40px;
}