* {
    margin: 0;
    padding: 0;
}
body,
html,
#app {
    width: 100%;
    height: auto;
    min-width: 1080px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #040f3c;
}
/* 清除浮动的公共类 */
.clearfix:before,
.clearfix:after { 
	content:"";
	display:table;
}
.clearfix:after {
	clear:both;
}
/* 为了兼容IE6,7 */
.clearfix {
	*zoom:1;
}
blockquote, body, button, dd, dl, dt, fieldset,
form, h1, h2, h3, h4, h5, h6, hr, input, legend,
li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}

input, button {
    border: 0;
    outline: none; /*取消轮廓边框*/
}

ul {
    list-style: none; /*清除ul前面的原点*/
}

a {
    text-decoration: none; /*取消a标签的下划线*/
    color: #999;
    font-size: 12px;
}
